.no {
  &-border {
    border: none !important;
  }

  &-padding {
    padding: 0 !important;
  }
  &-margin {
    margin: 0 !important;
  }
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
